.gm-style .gm-style-iw-c {
  padding: 20px 0 0 15px !important;
  top: -50px;
}
.gm-style .gm-style-iw-t::after {
  top: -50px !important;
}
.gm-style .gm-style-iw-d {
  padding: 0px !important;
}
.gm-ui-hover-effect {
  top: -3px !important;
  left: unset !important;
  right: 6px !important;
}
